@font-face{
	font-family: "Lumios";
	src:url("../font/lumios/Lumios-Marker.woff");
}
@font-face{
	font-family: "Coco Gothic";
	src:url("../font/coco-gothic/Coco-Gothic/Coco-Gothic-Regular-trial.ttf");
}
*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
.open{
	display: flex;
	justify-content: start;
	align-items: center;
	height: 100vh;
	background: #0d0d0d url('../img/adamovich_a-removebg-preview.png') no-repeat 100% 100%;
	background-size: contain;
	padding: 40px 8vw;

}
.open_article{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #bebfbe;
}
.head{
	font-family: "Lumios", sans-serif;
	font-weight: 400;
	line-height: 7rem;
	
	font-size: 7rem;
	margin: 0;
}
.line{
	height: 0.5px;
	width: 400px;
	background-color: #bebfbe;
}
.txt{
	font-family: "Arial", sans-serif;
	color: #555656;
}
.block__btn{
	margin-top: 10px;
}
.btn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	width: 100px;
	height: 36px;
	border-radius: 14px;
	background-color: #555656;
	box-shadow: inset 5px 1px 10px 5px #252527;
	color: #bebfbe;
	margin: 0 20px;
	border: none;
	cursor: pointer;
}
.btn:hover{
	color: #fff;
	background: #828382;
}